ion-img {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
ion-card {
  padding-top: 0px;
  padding-bottom: 0px;
}

 .city-title {
  margin-top: 18px;
  font-size: 24px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.icon {
  width: 65px;
  height: 65px;
}

.temp {
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.date {
  margin: auto;
  font-weight: bold;
}

.status {
  width: 110px;
  text-align: center;
  margin: 10px;
}