<ion-header>
  <ion-toolbar>
    <ion-title>
      Long term
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="forecastrData && city" >
  <h2 class="city-title">{{ city.name }}, {{ city.country }} </h2>
  <ion-card *ngFor="let item of forecastrData">
    <ion-grid>
      <ion-row>
        <ion-col class="date"> {{item.dt_txt  |  date:'dd. MM.   yyyy HH:mm'}} </ion-col>
        <ion-col> <ion-img class="icon" [src]="getImageUrl(item.weather[0].icon)" alt=""></ion-img> </ion-col>
        <ion-col> 
          <div class="status">
            <div class="temp"> {{ getCelsiusFromKelvin(item.main.temp) | number : '1.1-1' }} °C </div>
            <div class=""> {{ item.weather[0].description }} </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
