<ion-header >
  <div class="toolbar-background">
  <ion-toolbar class="toolbar-background">
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</div>
</ion-header>

<ion-content>
 <div class="fulltext">
      <div class="col-text">
        <ion-item class="custom-item-input">
          <ion-input class="underline" name="cityName" type="text" placeholder="City name" [(ngModel)]="filter.CityName" ></ion-input> 
        </ion-item>
      </div>
      <div class="col-btn">
        <button class="search-btn" ion-button icon-only clear>
          <ion-icon name="search" (click)="getForecast()"></ion-icon>
        </button> 
      </div>
      <div class="col-btn">
          <button class="star-btn" ion-button icon-only clear>
            <ion-icon name="star" (click)="getFavoriteForecast()"></ion-icon>
          </button> 
        </div> 
    </div>


<div *ngIf="weatherData">
  <ion-card-title class="city-title">{{ weatherData.name }} - {{ weatherData.base }}, {{ weatherData.sys.country }} </ion-card-title>
  <ion-img class="icon" [src]="getImageUrl(weatherData.weather[0].icon)" alt=""></ion-img>
  <h3 class="state-title"> {{weatherData.weather[0].description}}</h3>
  <h1 class="temp-title">{{ getCelsiusFromKelvin(weatherData.main.temp) | number : '1.1-1'}} °C</h1>

  <ion-card class="welcome-card card">
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label fixed>Max temp.</ion-label>
            <p>{{ getCelsiusFromKelvin(weatherData.main.temp_max) | number : '1.1-1' }} °C</p>
          </ion-item>
          <ion-item>
            <ion-label fixed>Min temp. </ion-label>
            <p>{{ getCelsiusFromKelvin(weatherData.main.temp_min) | number : '1.1-1' }} °C</p>
          </ion-item>
          <ion-item>
            <ion-label fixed>Wind speed </ion-label>
            <p>{{ weatherData.wind.speed | number : '1.1-1' }} m/s</p>
          </ion-item>
          <ion-item>
            <ion-label fixed>Cloudiness </ion-label>
            <p>{{ weatherData.clouds.all }} %</p>
          </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>
</div>
</ion-content>
