.toolbar-background {
  background: #3b8002;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.search-btn {
  background: none;
  font-size: 35px;
  padding-top: 10px;
}

.star-btn {
  background: none;
  font-size: 35px;
  padding-top: 10px;
  color: #ccc91e;
}

.icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.city-title {
  font-weight: bold;
  font-size: 22px; 
}

.temp-title {
  font-weight: bold;
  font-size: 40px; 
  margin-bottom: 5px;
}

.state-title {
  font-weight: bold;
  font-size: 17px;
  color: #423d3d;  
  margin: 0px;
}

.city-title, .temp-title, .state-title {
  text-align: center;
}

.card {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-text {
  width: 100%
}

.col-btn {
  width: 20%
}

.fulltext {
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
}

ion-toolbar {
  background-color:  #3b8002;
}

ion-label {
  font-weight: bold;
}

p {
  font-size: 18px;
}

h1 {
  margin-top: 10px;
}
