<ion-header>
  <ion-toolbar>
    <ion-title>
      Favorite location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-grid> 
  <ion-row>
    <ion-col width-100>
      <ion-list>
        <ion-item class="custom-item-input">
          <ion-label fixed>City name:</ion-label>
          <ion-input class="underline" name="cityName" type="text" placeholder="Name" [(ngModel)]="filter.CityName" ></ion-input> 
        </ion-item>
        <ion-item>
            <ion-label fixed>Country code:</ion-label>
          <ion-input name="CountryCode" type="text" placeholder="Code" [(ngModel)]="filter.CountryCode"></ion-input> 
        </ion-item>
        <div class="spacer"></div>
        <ion-button class="save-btn" type="submit" block (click)="saveFavoriteLocation()">Save changes</ion-button> 
        <ion-button class="save-btn" type="submit" block (click)="clearFavoriteLocation()">Clear</ion-button> 
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
